version: "3.9"

services:
  springboot-app:
    build:
      context: .
      dockerfile: ${DOCKERFILE:-Dockerfile}
    image: ${IMAGE:-joergjo/springboot-todo-api:latest}
    ports:
      - 8080:8080
      - 4004:4004
    environment:
      - POSTGRESQL_HOST=${POSTGRESQL_HOST}
      - POSTGRESQL_USERNAME=${POSTGRESQL_USERNAME}
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - APPLICATIONINSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING}
      - APPLICATIONINSIGHTS_ROLE_NAME=${APPLICATIONINSIGHTS_ROLE_NAME:-localhost}
