version: "3.9"
services:
  zookeeper:
    image: ${ZOOKEEPER:-wurstmeister/zookeeper}
    ports:
      - "2181:2181"

  kafka:
    image: ${KAFKA:-wurstmeister/kafka}    
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_CREATE_TOPICS: "usage-cost-processor:1:1,usage-cost-logger:1:1"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper

  usage-detail-sender:
    build:
      context: ../usage-detail-sender
      dockerfile: Dockerfile
    image: springcloud-samples/usage-detail-sender:${TAG:-latest}
    ports:
      - "9001:9001"
    environment:
      - APPLICATIONINSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING}
      - APPLICATIONINSIGHTS_ROLE_NAME=usage-detail-sender
      - KAFKA_BROKER=kafka
    depends_on: 
      - kafka

  usage-cost-processor:
    build:
      context: ../usage-cost-processor
      dockerfile: Dockerfile
    image: springcloud-samples/usage-cost-processor:${TAG:-latest}
    ports:
      - "9002:9002"
    environment:
      - APPLICATIONINSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING}
      - APPLICATIONINSIGHTS_ROLE_NAME=usage-cost-processor
      - KAFKA_BROKER=kafka
    depends_on: 
      - kafka
    
  usage-cost-logger:
    build:
      context: ../usage-cost-logger
      dockerfile: Dockerfile
    image: springcloud-samples/usage-cost-logger:${TAG:-latest}
    ports:
      - "9003:9003"
    environment:
      - APPLICATIONINSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING}
      - APPLICATIONINSIGHTS_ROLE_NAME=usage-cost-logger
      - KAFKA_BROKER=kafka
    depends_on: 
      - kafka
