receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  jaeger:
    endpoint: jaeger:14250
    insecure: true
  # prometheus:
  #   endpoint: "0.0.0.0:9464"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [jaeger]
    # metrics:
    #   receivers: [otlp]
    #   exporters: [prometheus]